@media screen and (prefers-color-scheme: dark) {
		/* Dark mode styles */h1, h4, a, 
.item-job-descriptio ul li{
  color: white;
}
.page-lading{
 background-color:  #1e252d;
}
}

.dark-mode , .rodape{
  background-color: #1e252d;
}
.dark-mode-title{
  color: #1e252d !important;
}
.grey-mode{
  background-color: #101010f2;
}
.dark-mode-title-white{
  color: #ececec !important;
}

