.dark-mode , .rodape{
  background-color: #1e252d;
}
.dark-mode-title{
  color: #1e252d !important;
}
.grey-mode{
  background-color: #101010f2;
}
.dark-mode-title-white{
  color: #d6d6d6 !important; /*CORRIGIR*/
}