*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100vh;
}
h1, h2, h3, h4, h5, h6, p,li{
  font-family: 'Poppins', sans-serif;
}

header, ul, li{
  list-style-type: none;
  font-weight: 500;
  line-height: 36px;
  cursor: pointer;
  font-size: 2.5vh;
}
ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-person {
  display: flex;
  justify-content: space-between;
}
.header-list{
  width: 50%;
}

.buttonContat{
  width: 13vw;
  height: 6vh;
  background-color: #2DB5DD;
  border-radius: 10px;
  border-color: #fff;
  border-style: none;
  text-decoration-color: #FFF;
  color: #ffff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.page-lading{
  background-color: #2E8BA6;
}
header ul li{
  color: #fff;
}
header ul li:hover{
 color: #383838;
}
.presentation h1{
  color: #fff;
}

 #name{
  background-color: #2E8BA6;
  color: #fff;
  padding: 0 3px 0 3px;
}