:root{
  --color-bg-principal:#2E8BA6;
  --color-txt-principal:#54595f;
  --color-bg-white: #F5F5F5;
}
html {
  scroll-behavior: smooth;
}

*::selection {
  background: var(--color-txt-principal);
  color:var(--color-bg-white);
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100vh;
}
h1, h2, h3, h4, h5, h6, p,li,a{
  font-family: 'Poppins', sans-serif;

}

header, ul, li, a{ 
  list-style-type: none;
  font-weight: 500;
  line-height: 36px;
text-decoration: none;
  font-size: 2.5vh;
}
.header-list ul li a{
  cursor: pointer;
}
ul{
  display: flex;
  justify-content: space-between;
}

.header-person {
  display: flex;
  justify-content: space-between;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
}
.header-list{
  width: 50%;
}

.buttonContat{
  width: 11vw;
  height: 6vh;
  background-color: var(--color-bg-white);
  border-radius: 7px;
  border-color: var(--color-bg-white);
  border-style: none;
  text-decoration-color: var(--color-bg-principal);
  color: var(--color-bg-principal);
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.page-lading{
  background-color: var(--color-bg-principal);
}
header ul li a{
  color: var(--color-bg-white);
}
header ul li a:hover{
 color: #383838;

}
.presentation h1{
  color: var(--color-bg-white);
}

 #name{
  background-color: var(--color-bg-principal);
  color: var(--color-bg-white);
  padding: 0 3px 0 3px;
}
.title-descirption h1{
  font-weight: 300;
}
.title-descirption span{
  font-weight: bold;
}

