@media (max-width: 934px) {
  .page-lading{
    padding: 4% 7% 4% 7%;
  }
  .header, ul{
    flex-direction: column;
    align-items: center;
  }
.logo{
  display: none;
}
.header-person{
  justify-content: center;
}
.presentation #bigtitle{
  font-size: 3rem;

}
.imageminitalimg{
  display: none;
}
.buttonContat{
  width: 24vw;
}
.title-descirption h1{
  font-size: 1.5rem;
}
.descirption{
  flex-direction: column;
}
.text-descirption{
  width: 100%;
}
.perfilimage {
  width: 100%;
  padding-top:10%;
  justify-content: center;
}
.jobs-description{
  flex-direction: column;
  margin-bottom: 5%;
}
.item-job-description h3{
  text-align: center;
}
.item-job-description ul{
  align-items: flex-start;
}
#macbook{
  width: 100%;
}
}