.page-lading{
  padding: 4% 7% 4% 7%;
}
.header ul li{
  color: #fff;
}
.presentation{
  line-height:54px;
}

.presentation #bigtitle{
  font-size: 65px;
}
.presentation #title{
  font-size: 43px;
  font-weight: 300;
}